<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="tests" thread-count="2" data-provider-thread-count="2">
  <test thread-count="2" parallel="classes" name="ChromeTest">
    <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="dsalgo_testng.test.ArrayTest"/>
      <class name="dsalgo_testng.test.TreeTest"/>
      <class name="dsalgo_testng.test.LoginTest"/>
      <class name="dsalgo_testng.test.RegistrationTest"/>
      <class name="dsalgo_testng.test.HomeTest"/>
      <class name="dsalgo_testng.test.LinkedListTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="2" parallel="methods" name="EdgeTest">
    <parameter name="browser" value="Edge"/>
    <classes>
      <class name="dsalgo_testng.test.ArrayTest"/>
      <class name="dsalgo_testng.test.TreeTest"/>
      <class name="dsalgo_testng.test.LoginTest"/>
      <class name="dsalgo_testng.test.RegistrationTest"/>
      <class name="dsalgo_testng.test.HomeTest"/>
      <class name="dsalgo_testng.test.LinkedListTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
